<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959963466332-sjo5fs36g4ka5r83t04pngnnqd2tcegt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959963466332-sjo5fs36g4ka5r83t04pngnnqd2tcegt</string>
	<key>API_KEY</key>
	<string>AIzaSyA8ilFB5qCSFJVfZrSS-R8CFVggxp22DIc</string>
	<key>GCM_SENDER_ID</key>
	<string>959963466332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aldair.TintayaSnapchat</string>
	<key>PROJECT_ID</key>
	<string>semana11-ios-snapchat</string>
	<key>STORAGE_BUCKET</key>
	<string>semana11-ios-snapchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959963466332:ios:c3551d1956db20fa0e7499</string>
</dict>
</plist>